extends layouts/homeLayout

block content
  div(class="container")
    div(class="app-description")
      h1 Bible Quiz
      p Welcome to the worlds best bible quizzing app. We are excited you logged onto our website. Kindly visit the google play store or apple app store to get your copy of this amazing app.

    div(class="display")
      img(src="/images/phone.png" class="phone")

  script(src="/javascripts/canvas.js")
  