extends layout

block content
  div(class="container")
    div(class="app-description")
      h1 Bible App
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, voluptatibus, tenetur ut mollitia, quae minima ducimus cum quos neque quisquam consequuntur delectus. Excepturi maiores provident, placeat iste quasi molestiae molestias!

    div(class="display")
      img(src="/images/phone.png" class="phone")